{% extends 'base2.html' %}
{% load static %}

{% block 'title' %}Formulário{%endblock%}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/tasks/create.css'%}">
    <link rel="stylesheet" href="{% static 'css/tasks/style.css'%}">
{%endblock%}

{% block 'content' %}
    <section id="principal">
        <section id="form">
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_ul }}
                <li id="submit">
                    <input type="submit" value="Create">
                </li>
            </form>
            <aside>
                <a href="/tasks/"><button class="btn">Cancelar</button></a>
            </aside>
        </section>
        
    </section>
{%endblock%}