{% extends '-index.html' %}
{%load bootstrap%}
{%load static%}
{% block content %}

<div class="container-fluid col-9">
    <div class="feature-item row justify-content-center align-middle bg-danger" style="height: auto;">
        <div class="col-9">
            <h3 class="text-white justify-content-center">
                {{Redacao.titulo}}
                
            </h3>
        </div>

        {% if Redacao.fk_autor.id == Usuario.id%}

        <div class="col-3 align-middle">
            <div class="row justify-content-center gap-1" style="height: 0.5rem;">

                <a href="/redif/deletar/{{ Redacao.id }}" class="me-3">
                    <button type="button" class="btn mb-1 btn-light text-danger">
                        <i class="icofont-bin"></i><span class="btn-icon-right"></span>
                    </button>
                </a>

                <a href="/redif/editar/{{ Redacao.id }}">
                    <button type="button" class="btn mb-1 btn-light">
                        <span class="btn-icon-right"> <i class="icofont-edit text-secondary"></i></span>
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>
<br>

<div class="container-fluid col-9 ">
    <div class="col-12 feature-item">
        <div class="row justify-content-center ">
            <div class="col-10">
                <div class="">


                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                alt="..." />
                        </div>
                        <div class="ms-3">
                            <h4 class="fw-bold">
                                <a href="/redif/perfil/{{Redacao.fk_autor.username}}/">{{Redacao.fk_autor.username}}</a>
                            </h4>
                            <small class="Data de postagem">Postado em {{Redacao.data_criacao}}</small>
                        </div>
                    </div>


                    <div class="divider mb-3"></div>
                    <h1 class="mb-3 mt-3"></h1>
                    <!-- Conteudo da Redação -->
                    <article class="Conteudo-Redacao" style="text-align: justify;">
                        <p class="" id="Introdução">
                            {{Redacao.conteudo}}
                        </p>
                        <p class="" id="Desenvolvimento 1">

                        </p>
                        <p class="" id="Desenvolvimento 2">

                        </p>
                        <p class="justify-content" id="Conclusão">

                        </p>
                    </article>

                    <div class="row justify-content-center align-items-center container-fluid">
                        <div class="col-8">Tema: {{Redacao.Area}}|{{Redacao.tema}}</div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col">{{Redacao.numero_de_curtidas}}<a href=""><i
                                        class="icofont-heart ml-3"></i></a></div>
                            <div class="col">{{Redacao.numero_de_curtidas}}<a href="" onclick="copiarTexto()"
                                    data-toggle="modal" data-target="#CompartilharRedacaoIcon"><i
                                        class="icofont-share ml-3"></i></a></div>
                            <div class="col">{{Redacao.Usuario_avaliacao.all.count}} <a href="#comentario"><i
                                        class="icofont-comment ml-3"></i></a></div>
                        </div>
                    </div>
                    <div class="sidebar-widget tags mb-1">

                        {%for temaChave in Redacao.area.items%}
                        <a class="badge bg-light text-decoration-red link-red" href="#!">{{temaChave}}</a>
                        {%endfor%}
                        <a class="badge bg-ligth text-decoration-red link-red" href="#!">{{Redacao.tema}}</a>
                    </div>
                </div>
                <br>
                <!-- Modal -->

              
                <div id="CompartilharRedacaoIcon" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close justify-content-start"
                                    data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Compartilhar Redação</h4>
                            </div>
                            <div class="modal-body feature-item">
                                <input clas="form-control col-12" type="text" name="texto" id="texto"
                                    value="Veja essa redação incrivel de {{Usuario.username}}: {{request.build_absolute_uri}}"
                                    readonly />
                                <button type="button" class="btn btn-default" onclick="copiarTexto()">Copiar</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="col-lg-12 feature-item">
        <form class="comment-form my-3 container-fluid " id="comment-form"
            action="/redif/detalhar/comentar/{{Redacao.id}}/" method="post">
            {% csrf_token %}
            <h4 class="mb-4">Escreva um Comentário</h4>
            {%if veriAutenti%}
            <h4 class="mb-4">Faça login antes </h4>
            {%endif%}
            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" value="Qual sua nota para esta redação?" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" type="number" name="nota" id="nota" placeholder="Nota:" required>
                    </div>
                </div>
            </div>
            <textarea class="form-control mb-4" name="comentario" id="comment" cols="30" rows="5"
                placeholder="Comentario" required></textarea>

            <input class="btn btn-main-2 btn-round-full" type="submit" name="submit-contact" id="submit_contact"
                value="Comentar">
        </form>
    </div>


    <br>

    <div class="container-fluid 10 feature-item " style="height: 8rem;">
        <div class="md-10">
            <h1>
                Comentários
            </h1>
            <div class="divider mb-3"></div>
            <h1 class="mb-3 mt-3"></h1>
        </div>
        <!-- Comments section-->

    </div>
    <br>
    <div class=" row justify-content-end ">
        {{Redacao.avaliacoes.all.count}}
        {%for x in Redacao.Usuario_avaliacao.all%}

        <br>
        <div class="col-11 gy-5 " style="height: auto;">
            <div class="feature-item container-fluid">
                <div class="row gx-1">
                    <div class="col-1"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                            alt="..." /></div>
                    <div class="col">
                        
                        <h5 class=""><a href="/redif/perfil/{{x.usuario.username}}/">{{x.usuario.username}}</a> </h5>
                        <p>{{x.comentario}}</p>
                        <small>{{x.data_criacao}}</small>
                        {{x.nota}}

                    </div>
                </div>
            </div>
            <div class="mb-3"></div>
        </div>

        <br>

        {%endfor%}




    </div>
    <br>

</div>
</div>
</div>
</div>
</div>
</div>


<script src="{% static 'js/CopiarTexto.js' %}"></script>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}