{% extends '-index.html' %}
{%load bootstrap%}
{%load static%}
{% block content %}

<div class="container-fluid col-9" >
    <div class="feature-item row justify-content-center align-middle bg-danger"  style="height: auto;">
        <div class="col-9">
            <h3 class="text-white justify-content-center">
                {{Redacao.titulo}}
            </h3>
        </div>
        
        {% if Redacao.fk_autor.id == Usuario.id%}
        
        <div class="col-3 align-middle">
            <div class="row justify-content-center gap-1"  style="height: 0.5rem;">

        <a href="/redif/deletar/{{ Redacao.id }}" class="me-3">
            <button type="button" class="btn mb-1 btn-light text-danger">
                <i class="icofont-bin"></i><span class="btn-icon-right"></span>
            </button>
        </a>
        
        <a href="/redif/editar/{{ Redacao.id }}">
            <button type="button" class="btn mb-1 btn-light">
                <span class="btn-icon-right"> <i class="icofont-edit text-secondary"></i></span>
            </button>
        </a>
    </div>
</div>
    </div>
        {% endif %}
    </div>
</div>
<br>

<div class="container-fluid col-9 ">
    <div class="col-12 feature-item">
        <div class="row justify-content-center ">
            <div class="col-10">
                <div class="">


                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                alt="..." />
                        </div>
                        <div class="ms-3">
                            <h4 class="fw-bold">
                                {{Redacao.fk_autor.username}}
                            </h4>
                            <small class="">Postado em {{Redacao.data_criacao}}</small>
                        </div>
                          </div>
                          <a class="badge bg-light text-decoration-none link-red" href="#!">{{Redacao.area}}</a>
                          <a class="badge bg-ligth text-decoration-none link-red" href="#!">{{Redacao.tema}}</a>

                    <div class="divider mb-3"></div>
                    <h1 class="mb-3 mt-3"></h1>

                    <article class="Conteudo-Redacao" style="text-align: justify;">
                        <p class="" id="Introdução">
                            Em “vidas secas”, obra literária de Graciliano Ramos, Fabiano e sua família vivem uma
                            situação desgastante marcada principalmente pela miséria. No livro os filhos do protagonista
                            não recebem nomes, sendo limitados a serem chamados de apenas “mais velho” e o “mais novo”
                            recurso do autor para evidenciar a desumanização do individuo. Ao sairmos da literatura
                            ainda sem desconsiderar o contexto histórico da obra podemos notar a problemática: a não
                            garantia de cidadania pela invisibilidade da falta do registro civil, documento que garante
                            acesso á cidadania no Brasil e previne a invisibilidade social. Nesse sentido, a ausência
                            desse documento causa a marginalização da população e impede a evolução social dos
                            brasileiros.
                        </p>
                        <p class="" id="Desenvolvimento 1">
                            É nítido a deficiência do registro civil repercute, sem duvida na persistente falta de
                            pertencimento do cidadão brasileiro. Assim para que haja uma cidadania completa no Brasil é
                            necessária a existência também dos direitos sociais, políticos e civil não garantido é
                            possível fazer com que a cidadania seja alcançada.
                        </p>
                        <p class="" id="Desenvolvimento 2">
                            A falta de cidadania na população reflete na manutenção de uma sociedade excluída. De acordo
                            com a analise da antropóloga brasileira Lilia Schwarcz, desde a independência do Brasil, não
                            há a formação de um ideal de coletividade. Com isso se mantem o caráter de exclusão social,
                            sobre tudo as pessoas que não tiveram o registro oficial.
                        </p>
                        <p class="justify-content" id="Conclusão">
                            Portanto fica claro que medidas são necessárias para eliminar a invisibilidade social
                            provocada pela ausência de registos civis. Nesse sentido, é importante que os tribunais de
                            justiça de todo o território nacional ampliem programas para percorrer as cidades
                            brasileiras para garantir a documentação de nascimento da população. Assim, será possível
                            garantir com que mais cidadãos tenham acesso plenos aos seus direitos e possam participar
                            ativamente da sociedade.
                        </p>
                    </article>
                
        <div class="row justify-content-center align-items-center">
            <div class="col-9">Iae{{Redacao.Area}}|{{Redacao.tema}}</div>
            <div class="col-1">10{{Redacao.numero_de_curtidas}}<a href=""><i class="icofont-heart ml-3"></i></a></div>
            <div class="col-1">18{{Redacao.numero_de_curtidas}}<a href=""><i class="icofont-share ml-3"></i></a></div>
            <div class="col-1">4{{Redacao.numero_de_curtidas}}<a href=""><i class="icofont-comment ml-3"></i></a></div>

        </div>
    </div>
<br> 
</div></div>

</div>
<br>
<div class="container-fluid 10 feature-item " style="height: auto;">
        <div class="md-10">
            <h1>
                Comentários
            </h1>
            <div class="divider mb-3"></div>
            <h1 class="mb-3 mt-3"></h1>
        </div>
        <!-- Comments section-->
<section class="mb-5">
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">Seu comentário {{Redacao.fk_autor.username}}</div>
        <div class="card-body">{{Redacao.comentario}}</div>
    </div>

   
   
    <div class="d-flex mb-4">
        <!-- Parent comment-->
        <div class="flex-shrink-0"><img class="rounded-circle"
                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
        <div class="ms-3">
            <div class="fw-bold">Commenter Name</div>
            If you're going to lead a space frontier, it has to be government; it'll never be
            private enterprise. Because the space frontier is dangerous, and it's expensive, and it
            has unquantified risks.
            <!-- Child comment 1-->
        </div>
    </div>
</section>
</div>


</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}