
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REDIF</title>
    <link rel="stylesheet" href="{% static 'css/tasks/style.css'%}">
</head>
<body>
    <div class="wrapper">
        <main>
            <section id="content">
                <aside class="img"></aside>
                <section id="login">
                    <h1>Editar</h1>
                    <form action="." method="post">
                        {% csrf_token %}
                        {{ form.as_ul }}
                        <input type="submit" value="Salvar Mudanças">
                    </form>
                    <aside>
                        <div id="more">
                            <a href="/redif/listar/"><button class="btn">Cancelar</button></a>
                        </div>
                    </aside>
                </section>
            </section>
        </main>
    </div>
</body>
</html>

