{% extends '-index.html' %}

{%load bootstrap%}
{%load static%}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="/Redif/editar/{{redacao_cod}}/" method="post">
                    {% csrf_token %}

                    {{ form|bootstrap }}
                    <input type="submit" class="btn btn-primary" value="Salvar">
                    <a href="/Redif">
                        <button type="button" class="btn mb-1">
                            Cancelar <span class="btn-icon-right"> <i class="fa fa-close"></i> </span>
                        </button>
                    </a>
                </div></div>
                </form>
            </div>
        </div>
    </div>
</div>

</form>

{% endblock %}
