
{% extends '-index.html' %}
{% load static %}

{% block head %}
<title>Redacoes</title>
<link rel="stylesheet" href="{% static 'css/filtro.css' %}">
{%endblock%}

{% block content %}
<div class="container">
    <div class="row row-cols-3 row-cols-md-3 g-4">
        <div class="col-">
            <form action="." method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                    Filtros
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form.titulo.label_tag }}
                            {{ form.titulo }}
                        </div>
                        <div class="form-group">
                            {{ form.tema.label_tag }}
                            {{ form.tema }}
                        </div>
                        <div class="form-check">
                            {{ form.area.label_tag }}
                            {{ form.area }}
                        </div>
                    </div>
                    <button  class="btn btn-primary" type="submit">Filtrar</button>
                </div>
            </form>
        </div>

        <div class="col">
                {% if Redacao %}
                
                {% for r in Redacao %}
                <div class="col mb-4">
                    <div class="card" >
                        <a href="/redif/detalhar/{{ r.id }}">
                        <div class="card-body">
                            <h5 class="card-title">{{r.titulo|slice:":25"}} ...</h5>
                            <div class="card-subtitle">Tema: {{r.tema}}</div>
                            <p class="card-text" style="text-indent: 2em;">
                                <i> {{ r.conteudo|slice:":150" }} ...</p></i>
                        </div>
                        </a>
                        <div class="card-footer">
                            <small class="text-muted">{{r.data_criacao}} | </small>
                            <a href="/redif/perfil/{{r.fk_autor.username}}/"><small class="text-muted">Autor:  {{r.fk_autor.username}}</small></a>
                        </div>
                    </div>
                </div>
                                    
                {% endfor %}

                {% else %}
                    <p>Não há redações, clique em compartilhar redações para adicioná-las</p>
                    
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}
