
{% extends '-index.html' %}
{% load static %}

{% block head %}
<title>Redacoes</title>
<link rel="stylesheet" href="{% static 'css/filtro.css' %}">
{%endblock%}

{% block content %}
<div class="container">
    <div class="row row-cols-3 row-cols-md-3 g-4">
        <div class="col- ml-5">
            <form action="." method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                    Filtros
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form.titulo.label_tag }}
                            {{ form.titulo }}
                        </div>
                        <div class="form-group">
                            {{ form.tema.label_tag }}
                            {{ form.tema }}
                        </div>
                        <div class="form-check">
                            {{ form.area.label_tag }}
                            {{ form.area }}
                        </div>
                    </div>
                    <button  class="btn btn-primary" type="submit">Filtrar</button>
                </div>
            </form>
        </div>

        <div class="col">
            {% if Perfil.id == Usuario.id %}
                    <h4 class="card-title">Suas redações: </h1>
                {% else%}
                    <h4 class="card-title">Redações de {{Perfil.username}}: </h1>
            {%endif%}
                
                {% if Redacao %}
                
                {% for r in Redacao %}
                <div class="col">
                    <div class="card" >
                        <a href="/redif/detalhar/{{ r.id }}">
                        <div class="card-body">
                            <h5 class="card-title">{{r.titulo|slice:":25"}} ...</h5>
                            <div class="card-subtitle">Por {{r.fk_autor.username}}</div>
                            <p class="card-text">{{ r.conteudo|slice:":50" }} ...</p>
                        </div>
                        </a>
                        <div class="card-footer">
                            <small class="text-muted">{{r.data_criacao}}</small>
                        </div>
                    </div>
                </div>
                                    
                {% endfor %}

                {% else %}
                    <p>Não há redações, clique em compartilhar redações para adicioná-las</p>
                    
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}
