


{% extends 'base2.html' %}
{% load static %}

{% block 'title' %}Tasks{%endblock%}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/tasks/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/tasks/read.css'%}">
    <link rel="stylesheet" href="{% static 'css/tasks/manage.css'%}">
{%endblock%}

{% block 'content' %}
    <section id="principal">
    <section id="form">
        <h1>Tasks list</h1>
        <table>
            
            <tr>
                <td class="Title">Title</td>
                <td class="Deadline">Deadline</td>
                <td class="Done">Done</td>
                <td class="action">Action</td>
                <a href="/tasks/create/">Create Tasks</a>
            </tr>
            {% for Task in Tasks %}
                <tr>
                    <td class="Title">{{Task.title}}</td>
                    <td class="Deadline">{{Task.deadline}}</td>
                    <td class="Done">{{Task.done}}</td>
                    <td class="action">
                        <a href="/tasks/read/{{Task.id}}/" class="edit"><img src="{% static 'img/tasks/gerenciar/view.png'%}" alt=""></a>
                        <a href="/tasks/delete/{{Task.id}}/" class="del"><img src="{% static 'img/tasks/gerenciar/trash.png'%}" alt=""></a>
                        <a href="/tasks/edit/{{Task.id}}/" class="edit"><img src="{% static 'img/tasks/gerenciar/pencil.png'%}" alt=""></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
    </section>
    
</section>
    
{%endblock%}