
{% extends '-index.html' %}
{% load static %}

{% block head %}
<title> Perfil {{ Perfil.username}}</title> 
{%endblock%}

{%load static%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Perfil {{ Username}}
                </div>
                
                <div class="card-body ">
                    <h5 class="card-title">Informações</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Titulacao : {{ Titulacao}}</li>
                        <li class="list-group-item">Condicao : {{ Condicao}}</li>
                    </ul>
                </div>
                <div class="card-footer text-muted">
                    Contato : {{ Perfil.email}}
                </div>
              </div>
            {% if Perfil.id == Usuario.id %}
                <h4 class="mt-4">Suas redações: </h1>
            {% else%}
                <h4 class="mt-4">Redações de {{Perfil.username}}: </h1>
            {%endif%}
          
        </div>
    </div>
    
    <div class="row row-cols-2 row-cols-md-2 g-4">
       
        {% if Redacao %}
        {% for r in Redacao %}

            <div class="col">
                <div class="card" >
                    <a href="/redif/detalhar/{{ r.id }}">
                    <div class="card-body">
                        <h5 class="card-title">{{r.titulo|slice:":25"}} ...</h5>
                        <div class="card-subtitle">Por {{r.fk_autor.username}}</div>
                        <p class="card-text">{{ r.conteudo|slice:":50" }} ...</p>
                    </div>
                    </a>
                    <div class="card-footer">
                        <small class="text-muted">{{r.data_criacao}}</small>
                    </div>
                </div>
            </div>
                            
        {% endfor %}

        {% else %}
            <p>Não há redações, clique em compartilhar redações para adicioná-las</p>
        {% endif %}
    

    </div>
    {% endblock %}
    