{% extends 'base2.html' %}
{% load static %}

{% block 'title' %}Redacao{%endblock%}

{% block 'head' %}

<link rel="stylesheet" href="{% static 'css/tasks/create.css'%}">
<link rel="stylesheet" href="{% static 'css/tasks/style.css'%}">
{%endblock%}

{% block 'content' %}

<section id="principal">
    <section id="form">
        <form action="">
            <h1>Title: {{Redacao.title}}</h1>
            <h2>{{autor}}</h2>
            <div class="dateCreation">date : {{Redacao.dateCreation}}</div>
            <div class="area">area : {{Redacao.area}}</div>
            <div class="area">topic : {{Redacao.topic}}</div>
            <p>Redação:</p>
            <div class="description">{{Redacao.content}}</div>
            <div class="comment">{{Redacao.comment}}</div>
            
        </form>
        <a href="/redif/listar/">voltar</a>
    </section>
</section>

    
{%endblock%}