
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Redacao.title}}</title>
    <link rel="stylesheet" href="{% static 'css/redacoes/style.css'%}">
</head>
<body>
    <div class="wrapper">
        <main>
            <section  class="container content">
                <section class="container1 login">
                    <h1>{{Redacao.title}}</h1>
                    <div class="container2">
                        <ul>
                            <li class="dateCreation">date : {{Redacao.dateCreation}}</li>
                            <li class="area">area : {{Redacao.area}}</li>
                            <li>Redacao</li>
                            <li class="description">{{Redacao.content}}</li>
                            <li class="comment">{{Redacao.comment}}</li>
                        </ul>
                    </div>
                    <aside>
                        <div id="more">
                            <a href="/redif/listar/"><button class="btn">voltar</button></a>
                        </div>
                    </aside>
                </section>
            </section>
        </main>
    </div>
</body>
</html>

