<!DOCTYPE html>
<html lang="en">
{%load bootstrap%}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
<header>
	<nav class="navbar navbar-expand-lg navigation" id="navbar">
		<div class="container">

		  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icofont-navigation-menu"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse" id="navbarmain">
			<ul class="navbar-nav ml-left">
				<li class="nav-item active">
					<img src="{% static 'img/logo.png' %}" width="117px" height="60px" alt="">
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="/redif/home/">Tela inicial</a>
			  </li>
			   <li class="nav-item"><a class="nav-link" href="/redif/listar/">Redações</a></li>
			   <li class="nav-item"><a class="nav-link" href="">Dicas de Estudos</a></li>

			  	<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% static 'doctor.html' %}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conta <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03">
						{% if Usuario%}
						<li><a class="dropdown-item" href="/redif/perfil/{{ Usuario.username }}"><img src="{% static 'img/registration/user.svg' %}" width="20px" height="15px" alt=""> {{ Usuario.username}}</a></li>
						<li><a class="dropdown-item" href="/accounts/logout/">Sair</a></li>
						{% endif %}
						{% if not Usuario%}
						<li><a class="dropdown-item" href="/accounts/login/">Entrar</a></li>
						<li><a class="dropdown-item" href="/accounts/registrar/">Cadastrar</a></li>
						{% endif %}
					</ul>
			  	</li>			
			</ul>
		  </div>
		</div>
	</nav>
</header>
</body>
</html>
