<!DOCTYPE html>
<html lang="en">
{%load bootstrap%}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<header>
	<nav class="navbar navbar-expand-lg navigation" id="navbar">
		<div class="container">
		 

		  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icofont-navigation-menu"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse" id="navbarmain">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="/redif/home">Tela inicial</a>
			  </li>
			   <li class="nav-item"><a class="nav-link" href="{% static 'about.html' %}">About</a></li>
			    <li class="nav-item"><a class="nav-link" href="{% static 'service.html' %}">Services</a></li>

			    <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% static 'department.html' %}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Department <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown02">
						<li><a class="dropdown-item" href="{% static 'department.html' %}">Departments</a></li>
						<li><a class="dropdown-item" href="{% static 'department-single.html' %}">Department Single</a></li>
					</ul>
			  	</li>

			  	<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% static 'doctor.html' %}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03">
						<li><a class="dropdown-item" href="{% static 'doctor.html' %}">Doctors</a></li>
						<li><a class="dropdown-item" href="{% static 'doctor-single.html' %}">Doctor Single</a></li>
						<li><a class="dropdown-item" href="{% static 'appoinment.html' %}">Appoinment</a></li>
					</ul>
			  	</li>

			   <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% static 'blog-sidebar.html' %}" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown05">
						<li><a class="dropdown-item" href="{% static 'blog-sidebar.html' %}">Blog with Sidebar</a></li>

						<li><a class="dropdown-item" href="{% static 'blog-single.html' %}">Blog Single</a></li>
					</ul>
			  	</li>
			   <li class="nav-item"><a class="nav-link" href="{% static 'contact.html' %}">Contact</a></li>
			</ul>
		  </div>
		</div>
	</nav>
</header>
</body>
</html>
