<!DOCTYPE html>
<html lang="en">
{%load bootstrap%}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<header>
	<nav class="navbar navbar-expand-lg navigation" id="navbar">
		<div class="container">
		 

		  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icofont-navigation-menu"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse" id="navbarmain">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="/redif/listar/">Tela inicial</a>
			  </li>
			   <li class="nav-item"><a class="nav-link" href="">Dicas de Estudos</a></li>

			  	<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% static 'doctor.html' %}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03">
						<li><a class="dropdown-item" href="/accounts/login/">Log in</a></li>
						<li><a class="dropdown-item" href="/accounts/logout/">Log out</a></li>
						<li><a class="dropdown-item" href="/accounts/registrar/">Sing Up</a></li>
					</ul>
			  	</li>			
			</ul>
		  </div>
		</div>
	</nav>
</header>
</body>
</html>
