{% load static %}
{%load bootstrap %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
	<meta name="author" content="themefisher.com">

	<title>Redif</title>

	<!-- Favicon -->

	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
	<!-- Icon Font Css -->
	<link rel="stylesheet" href="{% static 'plugins/icofont/icofont.min.css' %}">
	<!-- Slick Slider  CSS -->
	<link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick-theme.css' %}">

	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="top">

	<!-- Nav bar-->
	{% include '-nav.html' %}

	<!-- Headline inicio -->
	<section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-xl-7">
					<div class="block">
						<div class="divider mb-3"></div>
						<h1 class="mb-3 mt-3"></h1>
						<h1>Redif: A sua plataforma de redações</h1>

						<p class="mb-4 pr-5">Análise, comentários, nota avalição e muito mais... </p>
						<div class="btn-container ">
							<a href="criar/" class="btn btn-main-2 btn-icon btn-round-full">Enviar<i
									class="icofont-simple-right ml-2  "></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section Redações -->
	<section class="features">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="feature-block d-lg-flex">


						<div class="feature-item mb-5 mb-lg-0">
							<div class="feature-icon mb-4"><i class="icofont-support"></i></div>
							<h4 class="mb-2">1-800-700-6200</h4>
							<p class="mb-4">Get ALl time support for emergency.We have introduced the principle of
								family medicine.Get Conneted with us for any urgency .</p>
						</div>

						<div class="feature-item mb-5 mb-lg-0">
							<div class="feature-icon mb-4"><i class="icofont-support"></i></div>
							<h4 class="mb-2">1-800-700-6200</h4>
							<p class="mb-4">Get ALl time support for emergency.We have introduced the principle of
								family medicine.Get Conneted with us for any urgency .</p>
						</div>

						<div class="feature-item mb-8 mb-lg-0">
							<div class="feature-icon mb-2"><i class="icofont-surgeon-alt"></i></div>
							<h4 class="mb-2">Online Appoinment</h4>
							<p class="mb-4">Get ALl time support for emergency.We have introduced the principle of
								family medicine.</p>
							<a href="/redif/" class="btn btn-main btn-round-full">Veja mais Redações</a>
						</div>
					</div>
				</div>
			</div>


		</div>
	</section>

	<!-- Section Blog -->
	<section class="section about">
		<style> 
			.img-fluid, .feature-item{
				animation: 1s;
				transition: all 0.3s ease-in-out;
			}
			.img-fluid:hover, .feature-item:hover {
				transform : scale(1.05, 1.05)
			}			
			.counter-stat{
				box-shadow: 0px 0px 36px 0px hsba(216, 100%, 42%, 0.1);
				animation: 1s;
				transition: all 0.3s ease-in-out;
				color:#e12454;
			}
			.counter-stat:hover {
				transform: skewX(20deg);
				transform : scale(1.1, 1.1);
				background: #e12454;
				color:whitesmoke;
				animation: mymove 1s;
				animation-iteration-count: 2;
  				animation-direction: alternate;
			}
			.icon{
				box-shadow: 0px 0px 36px 0px hsba(216, 100%, 42%, 0.1);				
				color: rgb(196, 181, 181);
			}

			@keyframes mymove {
  			from {bottom: 0%;}
  			to {bottom: 15%;}
			}
			
		</style> 
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 col-sm-6">
					<div class="about-img">
						<img src="{% static 'images/about/img-1.jpg' %}" alt="" class="img-fluid">
						<img src="{% static 'images/about/img-2.jpg' %}" alt="" class="img-fluid mt-4">
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="about-img mt-4 mt-lg-0" 
							onMouseOver=myFunction() onMouseOut="this.style.background='#adb5bd'">
						<img src="{% static 'images/about/img-3.jpg' %}" alt="" class="img-fluid">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="about-content pl-4 mt-4 mt-lg-0" id="Pagina de Dicas">
						<h2 class="title-color fs-1">Problemas em<br>escrever uma redação?</h2>
						<p class="mt-2 mb-2"><em>Nosso blog de dicas torna tudo mais fácil</em></p>
						<a href="blog-sidebar.html" class="btn btn-main-2 btn-round-full btn-icon">Visitar<i
								class="icofont-simple-right ml-3"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section CTA -->
	<section class="cta-section ">
		<div class="container">
			<div class="cta position-relative ">
				<div class="row text-white">
					<div class="col-lg-3 col-md-6 col-sm-6 ">
						<div class="counter-stat text-danger">
							<i class="icofont-share icon"></i>
							<p class="text.danger">COMPARTILHE</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="counter-stat">
							<i class="icofont-star icon"></i>
							<p>AVALIE</p>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="counter-stat">
							<i class="icofont-airplane-alt icon"></i>
							<p>INSPIRE-SE</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="counter-stat">
							<i class="icofont-chart-histogram icon"></i>
							<p>EVOLUA</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section AREA -->
	<section class="section service gray-bg">
		<div class="container">
			<!-- TITULO -->
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="section-title">
						<h2>Não sabe por onde começar?</h2>
						<div class="divider mx-auto my-1"></div>
						<p>Considere ler redações por áreas. Basta escolher uma e se inspirar:</p>
					</div>
				</div>
			</div>
			<!-- AREAS -->
			<div class="row justify-content-center ">
				<!-- Ciências Exatas e da Terra -->
				<div class="col-lg-4 col-md-6 col-sm-6" >
					<div class="service-item mb-4" style="height: 16rem;">
						<div class="icon d-flex align-items-center">
							<i class="icofont-laboratory text-lg"></i>
							<h4 class="mt-3 mb-3">Ciências Exatas e da Terra</h4>
						</div>

						<div class="content">
							<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
						</div>
					</div>
				</div>
				<!-- Ciências Biológicas -->
				<div class="col-lg-4 col-md-6 col-sm-6" >
					<div class="service-item mb-4" style="height: 16rem;">
						<div class="icon d-flex align-items-center">
							<i class="icofont-heart-beat-alt text-lg"></i>
							<h4 class="mt-3 mb-3">Ciências Biológicas</h4>
						</div>
						<div class="content">
							<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
						</div>
					</div>
				</div>
				<!-- Engenharias -->
				<div class="col-lg-4 col-md-6 col-sm-6" >
					<div class="service-item mb-4" style="height: 16rem;">
						<div class="icon d-flex align-items-center">
							<i class="icofont-tooth text-lg"></i>
							<h4 class="mt-3 mb-3">Engenharias</h4>
						</div>
						<div class="content">
							<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
						</div>
					</div>
				</div>
				<!-- Ciências da Saúde -->
				<div class="col-lg-4 col-md-6 col-sm-6" >
					<div class="service-item mb-4" style="height: 16rem;">
						<div class="icon d-flex align-items-center">
							<i class="icofont-crutch text-lg"></i>
							<h4 class="mt-3 mb-3">Ciências da Saúde</h4>
						</div>

						<div class="content">
							<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
						</div>
					</div>
				</div>
				<!-- Ciências Agrárias -->
				<div class="col-lg-4 col-md-6 col-sm-6" >
					<div class="service-item mb-4" style="height: 16rem;">
						<div class="icon d-flex align-items-center">
							<i class="icofont-brain-alt text-lg"></i>
							<h4 class="mt-3 mb-3">Ciências Agrárias</h4>
						</div>
						<div class="content">
							<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
						</div>
					</div>
				</div>
				<!-- Linguística, Letras e Artes -->
				<div class="col-lg-4 col-md-6 col-sm-6" >
					<div class="service-item mb-4" style="height: 16rem;">
						<div class="icon d-flex align-items-center">
							<i class="icofont-dna-alt-1 text-lg"></i>
							<h4 class="mt-3 mb-3">Linguística, Letras e Artes</h4>
						</div>
						<div class="content">
							<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
						</div>
					</div>
				</div>
				<div class="btn">
					<a href="/redif/" class="btn btn-main-2 btn-icon btn-round-full">Ver mais</a>
				</div>
			</div>
		</div>	
	</section>

	<!-- Section Vender o peixe -->
	<section class="section testimonial">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-6">
					<div class="section-title">
						<h2 class="mb-4">Por que usar a plataforma Redif?</h2>
						<div class="divider my-2"></div>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-6 testimonial-wrap offset-lg-6">
					<div class="testimonial-block" style="height: 12rem;">
						<div class="client-info ">
							<h4>Pratique</h4>
							<div class="divider mx-auto my-1 "></div>

						</div>
						<p>
							A pratica leva a perfeição. Redif é a sua aliada para treinar e aprender, te ajudando a ter um constante desenvolvimento
						</p>
						<i class="icofont-quote-right"></i>
						
					</div>
					<div class="testimonial-block" style="height: 12rem;">
						<div class="client-info ">
							<h4>Envie suas Redações</h4>
							<div class="divider mx-auto my-1 "></div>

						</div>
						<p>
							Receba avaliações e comentários que possibilitem compreender e eliminar possíveis erros

						</p>
						<i class="icofont-quote-right"></i>
						
					</div>
					<div class="testimonial-block" style="height: 12rem;">
						<div class="client-info ">
							<h4>Plataforma Colaborativa</h4>
							<div class="divider mx-auto my-1 "></div>

						</div>
						<p>
							Receba avaliações e comentários de outros usuarios e consiga compreender e eliminar possíveis erros

						</p>
						<i class="icofont-quote-right"></i>
						
					</div>
					<div class="testimonial-block" style="height: 12rem;">
						<div class="client-info ">
							<h4>Desenvolva seu olhar crítico</h4>
							<div class="divider mx-auto my-1 "></div>

						</div>
						<p>
							Visando uma relação reciproca, nossa plataforma te possibilita ler e avaliar outras redações, melhorando assim, sua comprensão 
</p>
						<i class="icofont-quote-right"></i>
						
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- footer Start -->
	{%include '-footer.html'%}



	<!-- Essential Scripts =====================================-->


	<!-- Main jQuery -->
	<script src="{% static 'plugins/jquery/jquery.js' %}"></script>
	<!-- Bootstrap 4.3.2 -->
	<script src="{% static 'plugins/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'plugins/counterup/jquery.easing.js' %}"></script>
	<!-- Slick Slider -->
	<script src="{% static 'plugins/slick-carousel/slick/slick.min.js' %}"></script>
	<!-- Counterup -->
	<script src="{% static 'plugins/counterup/jquery.waypoints.min.js' %}"></script>

	<script src="{% static 'plugins/shuffle/shuffle.min.js' %}"></script>
	<script src="{% static 'plugins/counterup/jquery.counterup.min.js' %}"></script>
	<!-- Google Map -->
	<script src="{% static 'plugins/google-map/map.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/contact.js' %}"></script>

</body>

</html>
