{% extends '-index.html' %}
{%load bootstrap%}
{%load static%}
{% block content %}
<div class="content">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <h1 class="card-title">Faça login para acessar o sistema</h1>

                        {{ form|bootstrap }}
                        <input class="btn btn-primary" type="submit" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}