{% extends '-index.html' %}
{%load bootstrap%}
{%load static%}
{% block content %}


<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xl-7">
                <div class="block ">
                    <form action="" method="post" class="feature-item mb-5 mb-lg-0">
                        {% csrf_token %}
                        <div class="divider mb-3"></div>
						<h1 class="mb-3 mt-3"></h1>
                        <h1 class="card-title">Que bom ter <br>você de volta!</h1>
						<h1 class="mb-3 mt-3"></h1>
                        {{ form|bootstrap }}
                        <aside>
                            <p>Não tem uma conta? <a href="/accounts/registrar">Crie uma agora</p>
                        </aside>
                        <input class="btn btn-danger" type="submit" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
