
{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/accounts/registration.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <main>
            <section id="content">
                <section id="login">
                    <h1>Cadastrar</h1>
                    <form action="." method="post">
                        {% csrf_token %}
                        <ul>
                            {{form.as_ul}}
                        </ul>
                        <input type="submit" value="Create">
                    </form>
                    <aside>
                        <div id="more">
                            <p>Já tem uma conta? <a href="/accounts/login/">Entrar</a></p>
                        </div>
                    </aside>
                </section>
            </section>
        </main>
    </div>
{% endblock %}