{% extends '-index.html' %}
{%load bootstrap%}
{%load static%}
<body id="top">

{%block content%}


<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="block text-center">
			  <span class="text-white">Plataforma REDIF</span>
			  <h1 class="text-capitalize mb-5 text-lg">Conclusão</h1>
  
			<!-- <ul class="list-inline breadcumb-nav">
			  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
			  <li class="list-inline-item"><span class="text-white">/</span></li>
			  <li class="list-inline-item"><a href="#" class="text-white-50">News details</a></li>
			</ul> -->
		  </div>
		</div>
	  </div>
	</div>
  </section>
  
  <section class="section blog-wrap">
	<div class="container">
	  <div class="row">
		<div class="col-lg-8">
		  <div class="row">
	  <div class="col-lg-12 mb-5">
		  <div class="single-blog-item">
			  <img src="images/blog/enem.jpg" alt="" class="img-fluid">
  
			  <div class="blog-item-content mt-5">
				  <div class="blog-item-meta mb-3">
					  <span class="text-color-2 text-capitalize mr-3"><i class="icofont-book-mark mr-2"></i> Equipment</span>
					  <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
					  <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-2"></i> 28th January 2019</span>
				  </div>
  
					  <p> O texto dissertativo-argumentativo pode ser dividido em três blocos, Introdução, Desenvolvimento
						  e Conclusão </p>
  
				   <h3> <div id="IDC"> Conclusão </div> </h3> 
				  <p> Você deve sempre lembrar que, na estrutura de uma redação, a conclusão
					  tem função de retomada. A ideia de concluir tem a ver com relembrar o seu leitor a
					  respeito do que você tratou no decorrer do texto. Sendo assim, você deve retomar o
					  que escreveu nos parágrafos de desenvolvimento de uma maneira bastante
					  resumida. Não é o momento de expor ideias novas. </p>
				  <p> Apesar disso, a conclusão de uma redação não pode ser somente sobre o
					  que você já escreveu. Ela precisa de algo a mais. No Enem, esse “algo a mais” é a
					  proposta de intervenção. Por isso, vamos dedicar uma parte desta aula para te
					  ensinar como fazer a conclusão do Enem com proposta de intervenção. </p>
				  <p> Essa dica se divide em três partes: uso de conectivo de conclusão, retomada
					  do objetivo e proposta de intervenção. </p>
				  
					  <ol type="A">
						  <h5> <li> Conectivo de conclusão </li> </h5>
				  
						  <p> Primeiramente, você deve lembrar que o parágrafo de conclusão sempre
							  deve iniciar com um conectivo. Você pode usar “portanto” ou “dessa forma”, por
							  exemplo. Abaixo você pode conferir uma lista de conectivos para iniciar a primeira
							  frase da sua conclusão. </p>
						  <div class="row"> 
							  <div class="col-4"> 
								  Por isso; <br>
								  Assim; <br>
								  Assim sendo; <br>
								  Então; <br>
								  Logo; <br>
								  Enfim; <br>
							  </div>
							  <div class="col-4"> 
								  Portanto; <br>
								  Em conclusão; <br>
								  Para terminar; <br>
								  Em síntese; <br>
								  Em resumo; <br>
								  Por ultimo; <br>
							  </div>
							  <div class="col-4"> 
								  Em suma; <br>
								  Por fim; <br>
								  Resumidamente; <br>
								  Diante disso; <br>
								  Desse modo; <br>
								  Dessa forma; <br>
							  </div>
						  </div> <br>
						  <p> Lembrando que o uso de conectivos sempre ajuda a manter a coesão e a
							  coerência do seu texto. </p>
  
						  <h5> <li> Retomada do objetivo </li> </h5>
				  
						  <p> Depois de usar o conectivo, você deve retomar os objetivos da sua redação.
							  É importante que, antes de começar a escrever, você defina o objetivo do seu texto.
							  Além disso, cada parágrafo de desenvolvimento também deve ter um objetivo.
							  Portanto, você deve-se lembrar do objetivo do seu primeiro parágrafo de
							  desenvolvimento e depois o objetivo do segundo. Caso você tenha escrito três
							  parágrafos de desenvolvimento, retome o argumento do terceiro também. </p>        
				  
						  <h5> <li> Proposta de intervenção </li> </h5>
						  <p> Este é um trecho muito importante da proposta de redação e que não deve
							  ser ignorado. Só a proposta de intervenção é uma competência que já vale 200
							  pontos da nota total. </p>
						  <p> Os corretores da redação não esperam que durante o tempo de prova você
							  encontre uma solução para o problema tematizado. Eles somente esperam que
							  você exponha alguma ação que ajude no enfrentamento do problema. Não precisa
							  ser nada inédito, só precisa ser uma intervenção bem estruturada. </p>
						  <p> Mas, como fazer uma proposta de intervenção correta e completa? Ela
							  precisa ter 4 elementos (a ordem que é apresentada não importa): </p>	
				  
				  <ul type="circle"> 
					  <li> <b> Ação </b> (o que?) </li>
					  <li> <b> Agente </b> (quem?) </li>
					  <li> <b> Finalidade </b> (para quê?) </li>
					  <li> <b> Modo </b> (como?) </li>
				  </ul> <br>
			  
				  <p> Portanto, não é suficiente citar uma intervenção de maneira genérica, sem
					  explicar quem seria o responsável ou de que forma seria colocada em prática.
					  Lembre-se de que, para ser eficiente, a proposta de intervenção deve surgir
					  dos itens já levantados ao longo da redação. Nos casos de sugerir uma solução,
					  certifique-se de que ela seja viável e fuja dos clichês. A banca não vê com bons
					  olhos frases prontas, como “as crianças são o futuro da nação” ou “a união faz a
					  força”. Também não deve ser uma proposta utópica ou fora da realidade das
					  pessoas. Além, é claro, de uma proposta que respeite os Direitos Humanos. </p>
  
				  <h6> Exemplo de proposta de intervenção </h6>
				  
				  <p> Para que você entenda melhor, trouxemos o exemplo de uma proposta de
					  intervenção que recebeu a pontuação máxima de 200 pontos. A redação é do Enem
					  2018, que teve como tema “a manipulação do comportamento do usuário pelo
					  controle de dados na internet”. Lembre-se que este trecho não é a conclusão inteira,
					  é somente a proposta de intervenção. </p>
				  <p> <i> “Por isso, para combater tal manipulação, é necessário que o Ministério da
					  Educação, com o auxílio de escolas, promova saraus e campanhas, em diversas
					  mídias de massa que mostrem a importância dos jovens buscarem fontes variadas
					  de informação, por meio de incentivo à leitura de jornais, livros e sites confiáveis,
					  com a finalidade de criar uma população com grande senso crítico, podendo
					  discernir notícias falsas, barrando-as e, consequentemente, beneficiando o regime
					  democrático”. </i> </p>
				  <p> Veja os cinco elementos presentes no exemplo: </p>
				  
				  <ul type="circle"> 
					  <li> <b> Ação: </b> <i> “promova saraus e campanhas”. </i> </li>
					  <li> <b> Agente: </b> <i> “Ministério da Educação, com o auxílio de escolas”. </i> </li>
					  <li> <b> Finalidade: </b> <i> “para combater tal manipulação”, “com a finalidade de criar uma
						  população com grande senso crítico, podendo discernir notícias falsas,
						  barrando-as e, consequentemente, beneficiando o regime democrático”. </i> </li>
					  <li> <b> Modo: </b> <i> “por meio de incentivo à leitura de jornais, livros e sites confiáveis”. </i> </li>
				  </ul> <br>
  
				  <h6> Retomada da introdução </h6>
				  <p> Além de tudo isso, você deve retomar as ideias anunciadas na introdução. Vamos
					  usar um exemplo de redação sobre pena de morte. Suponha que você tenha
					  utilizado como contexto dados sobre os altos índices de violência no Brasil. Mas
					  como fazer para retomar o contexto na conclusão? </p>
				  <p> Imagine que você está escrevendo a conclusão da redação e já retomou a
					  ideia do seu primeiro parágrafo de desenvolvimento, que seria que a criminalidade
					  não diminui com pena de morte. Então, retomou a ideia do segundo parágrafo de
					  desenvolvimento, que seria que não se pode combater violência com mais violência. </p>
				  <p> Por fim, você retomaria o contexto argumentando que a pena de morte não
					  faria o Brasil ter uma melhor posição em rankings de violência. Dessa forma, você
					  mostraria que traçou um objetivo e conseguiu cumpri-lo ao longo do texto. </p>	
			  </ol>
				  
			  </ol>
  
				  <div class="mt-5 clearfix">
					  <ul class="float-left list-inline tag-option">
						  <li class="list-inline-item"><a href="#!">Advancher</a></li>
						  <li class="list-inline-item"><a href="#!">Landscape</a></li>
						  <li class="list-inline-item"><a href="#!">Travel</a></li>
					  </ul>
  
					  <ul class="float-right list-inline">
						  <li class="list-inline-item"> Share: </li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-facebook"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-twitter"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-pinterest"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-linkedin"></i></a></li>
					  </ul>
				  </div>
			  </div>
		  </div>
	  </div>
  
	  <div class="col-lg-12">
		  <div class="comment-area mt-4 mb-5">
			  <h4 class="mb-4">2 Comments on Healthy environment... </h4>
			  <ul class="comment-tree list-unstyled">
				  <li class="mb-5">
					  <div class="comment-area-box d-block d-sm-flex">
						  <div class="comment-thumb">
							  <img alt="" src="images/blog/testimonial1.jpg" style="width: 70px">
						  </div>
  
						  <div class="block">
							  <div class="comment-info">
								  <h5 class="mb-1">John</h5>
								  <span>United Kingdom</span>
								  <span class="date-comm">| Posted April 7, 2019</span>
							  </div>
							  <div class="comment-meta mt-2">
								  <a href="#!"><i class="icofont-reply mr-2 text-muted"></i>Reply</a>
							  </div>
  
							  <div class="comment-content mt-3">
								  <p>Some consultants are employed indirectly by the client via a consultancy staffing company, a company
									  that provides consultants on an agency basis. </p>
							  </div>
						  </div>
					  </div>
				  </li>
  
				  <li>
					  <div class="comment-area-box d-block d-sm-flex">
						  <div class="comment-thumb">
							  <img alt="" src="images/blog/testimonial2.jpg" style="width: 70px">
						  </div>
  
						  <div class="block">
							  <div class="comment-info">
								  <h5 class="mb-1">Philip W</h5>
								  <span>United Kingdom</span>
								  <span class="date-comm">| Posted June 7, 2019</span>
							  </div>
  
							  <div class="comment-meta mt-2">
								  <a href="#!"><i class="icofont-reply mr-2 text-muted"></i>Reply </a>
							  </div>
  
							  <div class="comment-content mt-3">
								  <p>Some consultants are employed indirectly by the client via a consultancy staffing company, a company
									  that provides consultants on an agency basis. </p>
							  </div>
						  </div>
					  </div>
				  </li>
			  </ul>
		  </div>
	  </div>
  
  
	  <div class="col-lg-12">
		  <form class="comment-form my-5" id="comment-form">
			  <h4 class="mb-4">Write a comment</h4>
			  <div class="row">
				  <div class="col-md-6">
					  <div class="form-group">
						  <input class="form-control" type="text" name="name" id="name" placeholder="Name:">
					  </div>
				  </div>
				  <div class="col-md-6">
					  <div class="form-group">
						  <input class="form-control" type="text" name="mail" id="mail" placeholder="Email:">
					  </div>
				  </div>
			  </div>
  
  
			  <textarea class="form-control mb-4" name="comment" id="comment" cols="30" rows="5"
				  placeholder="Comment"></textarea>
  
			  <input class="btn btn-main-2 btn-round-full" type="submit" name="submit-contact" id="submit_contact"
				  value="Submit Message">
		  </form>
	  </div>
  </div>
		</div>
		<div class="col-lg-4">
		  <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
	  <div class="sidebar-widget search  mb-3 ">
		  <h5>Search Here</h5>
		  <form action="#" class="search-form">
			  <input type="text" class="form-control" placeholder="search">
			  <i class="ti-search"></i>
		  </form>
	  </div>
  
  
	  <div class="sidebar-widget latest-post mb-3">
		  <h5>Popular Posts</h5>
  
		  <div class="py-2">
			  <span class="text-sm text-muted">03 Mar 2018</span>
			  <h6 class="my-2"><a href="#">Thoughtful living in los Angeles</a></h6>
		  </div>
  
		  <div class="py-2">
				 <span class="text-sm text-muted">03 Mar 2018</span>
			  <h6 class="my-2"><a href="#">Vivamus molestie gravida turpis.</a></h6>
		  </div>
  
		  <div class="py-2">
			  <span class="text-sm text-muted">03 Mar 2018</span>
			  <h6 class="my-2"><a href="#">Fusce lobortis lorem at ipsum semper sagittis</a></h6>
		  </div>
	  </div>
  
	  <div class="sidebar-widget category mb-3">
		  <h5 class="mb-4">Categories</h5>
  
		  <ul class="list-unstyled">
			<li class="align-items-center">
			  <a href="#">Medicine</a>
			  <span>(14)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Equipments</a>
			  <span>(2)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Heart</a>
			  <span>(10)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Free counselling</a>
			  <span>(5)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Lab test</a>
			  <span>(5)</span>
			</li>
		  </ul>
	  </div>
  
  
	  <div class="sidebar-widget tags mb-3">
		  <h5 class="mb-4">Tags</h5>
  
		  <a href="#">Doctors</a>
		  <a href="#">agency</a>
		  <a href="#">company</a>
		  <a href="#">medicine</a>
		  <a href="#">surgery</a>
		  <a href="#">Marketing</a>
		  <a href="#">Social Media</a>
		  <a href="#">Branding</a>
		  <a href="#">Laboratory</a>
	  </div>
  
  
	  <div class="sidebar-widget schedule-widget mb-3">
		  <h5 class="mb-4">Time Schedule</h5>
  
		  <ul class="list-unstyled">
			<li class="d-flex justify-content-between align-items-center">
			  <span>Monday - Friday</span>
			  <span>9:00 - 17:00</span>
			</li>
			<li class="d-flex justify-content-between align-items-center">
			  <span>Saturday</span>
			  <span>9:00 - 16:00</span>
			</li>
			<li class="d-flex justify-content-between align-items-center">
			  <span>Sunday</span>
			  <span>Closed</span>
			</li>
		  </ul>
  
		  <div class="sidebar-contatct-info mt-4">
			  <p class="mb-0">Need Urgent Help?</p>
			  <h3>+23-4565-65768</h3>
		  </div>
	  </div>
  
  </div>
		</div>
	  </div>
	</div>
  </section>

<!-- footer Start -->

{%endblock%}