{% extends '-index.html' %}
{%load bootstrap%}
{%load static%}
<body id="top">

{%block content%}

<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="block text-center">
			  <span class="text-white">Plataforma REDIF</span>
			  <h1 class="text-capitalize mb-5 text-lg">Desenvolvimento</h1>
  
			<!-- <ul class="list-inline breadcumb-nav">
			  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
			  <li class="list-inline-item"><span class="text-white">/</span></li>
			  <li class="list-inline-item"><a href="#" class="text-white-50">News details</a></li>
			</ul> -->
		  </div>
		</div>
	  </div>
	</div>
  </section>
  
  <section class="section blog-wrap">
	<div class="container">
	  <div class="row">
		<div class="col-lg-8">
		  <div class="row">
	  <div class="col-lg-12 mb-5">
		  <div class="single-blog-item">
			  <img src="images/blog/enem.jpg" alt="" class="img-fluid">
  
			  <div class="blog-item-content mt-5">
				  <div class="blog-item-meta mb-3">
					  <span class="text-color-2 text-capitalize mr-3"><i class="icofont-book-mark mr-2"></i> Equipment</span>
					  <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
					  <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-2"></i> 28th January 2019</span>
				  </div>
  
					  <p> O texto dissertativo-argumentativo pode ser dividido em três blocos, Introdução, Desenvolvimento
						  e Conclusão </p>
				  
					  <h3> <div id="IDC"> Desenvolvimento </div> </h3> 
					  <p> Os dois ou três parágrafos depois da introdução compõem o
						  desenvolvimento. É a partir do segundo parágrafo que você vai defender a tese
						  apresentada na introdução. Antes de começar a escrever o desenvolvimento de
						  uma redação, é importante ter estabelecido a tese ou objetivo do texto na
						  introdução. </p>
					  <p> A tese é a ideia central que você pretende defender ao longo da redação. É a
						  partir dela que você vai formular as ideias que vai defender em cada parágrafo do
						  desenvolvimento. </p>
					  <p> Mas, como estabelecer a tese? Temos uma dica que pode te ajudar nessa
						  tarefa: pergunte-se o que você acha sobre o tema da redação. Geralmente, o tema
						  apresenta uma problemática. Então, você pode perguntar mentalmente: qual
						  problema está inserido nesta temática? Por que é um problema? Por que eu acho
						  isso? </p>
					  <p> A partir das suas respostas, você vai conseguir elaborar a tese. Por exemplo:
						  numa redação sobre redes sociais, você pode estabelecer como objetivo mostrar
						  que há uma necessidade de debate sobre a privacidade dos dados na internet. Com
						  a tese estabelecida, você já pode partir para o desenvolvimento. </p>
					  <p> Para isso, você pode se fazer uma nova pergunta: por que eu acho isso?
						  Partindo das suas respostas, você deve formular duas ideias: uma para o primeiro
						  parágrafo de desenvolvimento, e outra para o segundo. Cada ideia será o objetivo
						  do seu parágrafo. </p>
					  <p> A primeira ideia poderia ser, por exemplo, que as crianças têm acesso cada
						  vez mais cedo às redes sociais. Já a segunda poderia ser a veiculação de anúncios
						  personalizados para cada usuário. </p>
					  
					  <h4> Como escrever o desenvolvimento de uma redação </h4>
					  
					  <p> Depois de estabelecidos os objetivos dos parágrafos, você vai precisar de 4
						  elementos para construir cada um dos seus parágrafos de desenvolvimento:
						  afirmação, explicação, exemplificação e conclusão. </p>
					  
								  <ol> 
									  <h6> <li> Afirmação ou tópico frasal </li> </h6>
									  <p> O primeiro elemento do parágrafo deve ser um tópico frasal. Isso significa
										  que é preciso iniciar o parágrafo de desenvolvimento com uma afirmação do que
										  você se propõe a fazer como objetivo do parágrafo. Por exemplo: “O acesso das
										  crianças à internet e às redes sociais ocorre de maneira cada vez mais precoce”. </p>
									  <h6> <li> Explicação </li> </h6>
									  <p> Em seguida, você vai explicar a afirmação. Ou seja, vai explicar porque as
										  crianças estão entrando em redes sociais cada vez mais cedo. Você poderia
										  escrever, por exemplo, que a popularização do acesso à internet por meio de
										  smartphones contribuiu para a introdução das crianças no mundo digital. Para
										  corroborar sua explicação, poderia utilizar dados estatísticos, por exemplo. </p>
									  <h6> <li> Exemplificação </li> </h6>
									  <p> Também é importante dar exemplos para enriquecer a sua argumentação. É
										  nesse momento que você deve utilizar o seu repertório sociocultural, citando uma
										  atualidade, um livro, um filme, uma fala de alguém, um estudo, uma música, etc. </p>
									  <h6> <li> Conclusão </li> </h6>
									  <p> Por fim, é importante concluir o parágrafo e mostrar como a explicação e os
										  exemplos fizeram você encontrar o seu objetivo. No nosso exemplo, a conclusão
										  deveria mostrar como a explicação e os exemplos mostraram que a presença de
										  crianças nas redes sociais está crescendo (Não confunda com a conclusão da
										  redação! As propostas de intervenção só devem ser apresentadas no último
										  parágrafo!). </p>
								  </ol>
								  <p> Cada parágrafo do desenvolvimento deve apresentar argumentos que
									  sustentem as afirmações anteriores. Dessa forma, será possível analisar de forma
									  profunda e contextualizar sua ideia principal. </p>
									  <h5> O que NÃO fazer no desenvolvimento </h5>
									  <p> Como os parágrafos de desenvolvimento são mais longos, se você não
										  estiver atento, corre o risco de repetir informações – o que acarreta na perda de
										  pontos. O mesmo erro pode ocorrer na ânsia em convencer o leitor sobre os seus
										  argumentos. </p>
									  <p> Outro cuidado importante é em relação aos exemplos. Eles devem ser
										  bastante representativos para situar o leitor e estabelecer a comunicação. Mas seu
										  texto não pode conter somente exemplos, você deve expor sua opinião no texto.
										  Imagine que seus exemplos são uma espécie de pontos luminosos do seu texto.
										  Eles devem ser claros o bastante para dar ainda mais legitimidade aos seus
										  argumentos dentro da estrutura da redação. Mas se houver luz demais, sua tese
										  fica "ofuscada". </p>
								  </ol>
				  
			  </ol>
  
				  <div class="mt-5 clearfix">
					  <ul class="float-left list-inline tag-option">
						  <li class="list-inline-item"><a href="#!">Advancher</a></li>
						  <li class="list-inline-item"><a href="#!">Landscape</a></li>
						  <li class="list-inline-item"><a href="#!">Travel</a></li>
					  </ul>
  
					  <ul class="float-right list-inline">
						  <li class="list-inline-item"> Share: </li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-facebook"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-twitter"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-pinterest"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-linkedin"></i></a></li>
					  </ul>
				  </div>
			  </div>
		  </div>
	  </div>
  
	  <div class="col-lg-12">
		  <div class="comment-area mt-4 mb-5">
			  <h4 class="mb-4">2 Comments on Healthy environment... </h4>
			  <ul class="comment-tree list-unstyled">
				  <li class="mb-5">
					  <div class="comment-area-box d-block d-sm-flex">
						  <div class="comment-thumb">
							  <img alt="" src="images/blog/testimonial1.jpg" style="width: 70px">
						  </div>
  
						  <div class="block">
							  <div class="comment-info">
								  <h5 class="mb-1">John</h5>
								  <span>United Kingdom</span>
								  <span class="date-comm">| Posted April 7, 2019</span>
							  </div>
							  <div class="comment-meta mt-2">
								  <a href="#!"><i class="icofont-reply mr-2 text-muted"></i>Reply</a>
							  </div>
  
							  <div class="comment-content mt-3">
								  <p>Some consultants are employed indirectly by the client via a consultancy staffing company, a company
									  that provides consultants on an agency basis. </p>
							  </div>
						  </div>
					  </div>
				  </li>
  
				  <li>
					  <div class="comment-area-box d-block d-sm-flex">
						  <div class="comment-thumb">
							  <img alt="" src="images/blog/testimonial2.jpg" style="width: 70px">
						  </div>
  
						  <div class="block">
							  <div class="comment-info">
								  <h5 class="mb-1">Philip W</h5>
								  <span>United Kingdom</span>
								  <span class="date-comm">| Posted June 7, 2019</span>
							  </div>
  
							  <div class="comment-meta mt-2">
								  <a href="#!"><i class="icofont-reply mr-2 text-muted"></i>Reply </a>
							  </div>
  
							  <div class="comment-content mt-3">
								  <p>Some consultants are employed indirectly by the client via a consultancy staffing company, a company
									  that provides consultants on an agency basis. </p>
							  </div>
						  </div>
					  </div>
				  </li>
			  </ul>
		  </div>
	  </div>
  
  
	  <div class="col-lg-12">
		  <form class="comment-form my-5" id="comment-form">
			  <h4 class="mb-4">Write a comment</h4>
			  <div class="row">
				  <div class="col-md-6">
					  <div class="form-group">
						  <input class="form-control" type="text" name="name" id="name" placeholder="Name:">
					  </div>
				  </div>
				  <div class="col-md-6">
					  <div class="form-group">
						  <input class="form-control" type="text" name="mail" id="mail" placeholder="Email:">
					  </div>
				  </div>
			  </div>
  
  
			  <textarea class="form-control mb-4" name="comment" id="comment" cols="30" rows="5"
				  placeholder="Comment"></textarea>
  
			  <input class="btn btn-main-2 btn-round-full" type="submit" name="submit-contact" id="submit_contact"
				  value="Submit Message">
		  </form>
	  </div>
  </div>
		</div>
		<div class="col-lg-4">
		  <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
	  <div class="sidebar-widget search  mb-3 ">
		  <h5>Search Here</h5>
		  <form action="#" class="search-form">
			  <input type="text" class="form-control" placeholder="search">
			  <i class="ti-search"></i>
		  </form>
	  </div>
  
  
	  <div class="sidebar-widget latest-post mb-3">
		  <h5>Popular Posts</h5>
  
		  <div class="py-2">
			  <span class="text-sm text-muted">03 Mar 2018</span>
			  <h6 class="my-2"><a href="#">Thoughtful living in los Angeles</a></h6>
		  </div>
  
		  <div class="py-2">
				 <span class="text-sm text-muted">03 Mar 2018</span>
			  <h6 class="my-2"><a href="#">Vivamus molestie gravida turpis.</a></h6>
		  </div>
  
		  <div class="py-2">
			  <span class="text-sm text-muted">03 Mar 2018</span>
			  <h6 class="my-2"><a href="#">Fusce lobortis lorem at ipsum semper sagittis</a></h6>
		  </div>
	  </div>
  
	  <div class="sidebar-widget category mb-3">
		  <h5 class="mb-4">Categories</h5>
  
		  <ul class="list-unstyled">
			<li class="align-items-center">
			  <a href="#">Medicine</a>
			  <span>(14)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Equipments</a>
			  <span>(2)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Heart</a>
			  <span>(10)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Free counselling</a>
			  <span>(5)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Lab test</a>
			  <span>(5)</span>
			</li>
		  </ul>
	  </div>
  
  
	  <div class="sidebar-widget tags mb-3">
		  <h5 class="mb-4">Tags</h5>
  
		  <a href="#">Doctors</a>
		  <a href="#">agency</a>
		  <a href="#">company</a>
		  <a href="#">medicine</a>
		  <a href="#">surgery</a>
		  <a href="#">Marketing</a>
		  <a href="#">Social Media</a>
		  <a href="#">Branding</a>
		  <a href="#">Laboratory</a>
	  </div>
  
  
	  <div class="sidebar-widget schedule-widget mb-3">
		  <h5 class="mb-4">Time Schedule</h5>
  
		  <ul class="list-unstyled">
			<li class="d-flex justify-content-between align-items-center">
			  <span>Monday - Friday</span>
			  <span>9:00 - 17:00</span>
			</li>
			<li class="d-flex justify-content-between align-items-center">
			  <span>Saturday</span>
			  <span>9:00 - 16:00</span>
			</li>
			<li class="d-flex justify-content-between align-items-center">
			  <span>Sunday</span>
			  <span>Closed</span>
			</li>
		  </ul>
  
		  <div class="sidebar-contatct-info mt-4">
			  <p class="mb-0">Need Urgent Help?</p>
			  <h3>+23-4565-65768</h3>
		  </div>
	  </div>
  
  </div>
		</div>
	  </div>
	</div>
  </section>


<!-- footer Start -->

{%endblock%}