{% extends '-index.html' %}
{%load bootstrap%}
{%load static%}
<body id="top">

{%block content%}

<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="block text-center">
			  <span class="text-white">Plataforma REDIF</span>
			  <h1 class="text-capitalize mb-5 text-lg">Introdução</h1>
  
			<!-- <ul class="list-inline breadcumb-nav">
			  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
			  <li class="list-inline-item"><span class="text-white">/</span></li>
			  <li class="list-inline-item"><a href="#" class="text-white-50">News details</a></li>
			</ul> -->
		  </div>
		</div>
	  </div>
	</div>
  </section>
  
  <section class="section blog-wrap">
	<div class="container">
	  <div class="row">
		<div class="col-lg-8">
		  <div class="row">
	  <div class="col-lg-12 mb-5">
		  <div class="single-blog-item">
			  <img src="images/blog/enem.jpg" alt="" class="img-fluid">
  
			  <div class="blog-item-content mt-5">
				  <div class="blog-item-meta mb-3">
					  <span class="text-color-2 text-capitalize mr-3"><i class="icofont-book-mark mr-2"></i> Equipment</span>
					  <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
					  <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-2"></i> 28th January 2019</span>
				  </div>
  
					  <p> O texto dissertativo-argumentativo pode ser dividido em três blocos, Introdução, Desenvolvimento
						  e Conclusão </p>
				  
					  <h3> <div id="IDC"> Introdução </div> </h3> 
					  <p> Não é sem razão que o primeiro parágrafo da estrutura de uma redação é
						  chamado de introdução, pois é nessa parte do texto que você vai expor (apresentar)
						  as principais questões a serem abordadas no restante do texto. No primeiro
						  parágrafo, o leitor terá uma dimensão geral do assunto e vai entender as razões
						  pelas quais a discussão do problema é relevante. </p>
					  <p> E nessa hora que você deve envolver o leitor e ser criativo o bastante para
						  instigá-lo a continuar a leitura. Assim, uma boa forma de fazer isso é relacionar o
						  tema a aspectos pessoais e/ou sociais. Mostre como essa questão pode afetar a
						  vida do leitor ou como ele está relacionado a ela. </p>
					  <p> Para que você consiga fazer isso, você pode dividir a sua introdução em 3 partes: </p>
					  <ol type="a"> <b>
						  <li> contextualização; </li>
						  <li> tema; </li>
						  <li> tese. </li> </b>
					  </ol> <br>
				  
					  <ol type="A">
						  <h5> <li> Contexto </li> </h5>
				  
						  <p> Para iniciar a introdução da redação, você precisa fazer uma
							  contextualização. O contexto ou assunto é algo mais amplo do que o tema, mas que
							  se relaciona com ele. Por exemplo: o tema da redação de 2017 foi “desafios para a
							  formação educacional dos surdos no Brasil”. O contexto poderia ser sobre
							  educação, sobre surdez, sobre a marginalização de pessoas com deficiência, entre
							  outras possibilidades. </p>
						  <p> O contexto é um bom lugar para você citar algum repertório, como um livro,
							  um filme, uma música, um dado histórico ou estatístico. Para você tirar uma nota
							  boa, é preciso agenciar um repertório sociocultural e é por isso que mostramos
							  abaixo algumas formas de como iniciar a sua redação. </p>
				  
						  <p> Como iniciar a introdução da redação: </p>
				  
						  <dl>
							  <h6> <dt> Apontar um dado histórico </dt> </h6>
								  <dd> Uma técnica para iniciar a introdução é citando um dado histórico, sempre
									  com indicação precisa de datas ou referências de acontecimentos históricos. Exemplo:
									  <i> “Às crianças, nunca foi dada a importância devida. Em Canudos e Palmares,
									  não foram poupadas. Na Candelária ou na praça da Sé, continuam não sendo.” </i> </dd>
							  <h6> <dt> Apresentar um dado estatístico </dt> </h6>
								  <dd> Você também pode apresentar um dado estatístico – sempre referenciando
									  de onde a informação foi extraída. Por exemplo: <i>
									  “Quarenta mil crianças morreram hoje no mundo, vítimas de doenças comuns
									  combinadas com a desnutrição, segundo a UNICEF. Para cada criança que morreu
									  hoje, muitas outras vivem com a saúde debilitada. Entre os sobreviventes, metade
									  nunca colocará os pés em uma sala de aula.” </i> </dd>
							  <h6> <dt> Fazer uma citação </dt> </h6>
								  <dd> Outra forma de iniciar a redação é usando uma citação. Lembre-se de
									  sempre usar aspas e referenciar quem foi a pessoa citada. Por exemplo: <i>
									  “‘‘Navegar é preciso, viver não é preciso’‘. Com leve estremecimento de
									  susto, aplica-se o antigo verso do poeta Fernando Pessoa ao sistema de
									  informação, pesquisa e correspondência por computador, a comunicação online, a
									  Internet.” </i> </dd>
							  <h6> <dt>  Citar uma definição, ou conceito </dt> </h6>
								  <dd> Por fim, você também pode começar a introdução da redação utilizando uma
									  definição ou um conceito. Por exemplo: <i>
									  “A gíria é um patrimônio comum, é um instrumento de comunicação que
									  parece imprescindível, sobretudo, para a juventude. Até mesmo as gerações que a
									  condenavam acabaram por assimilar algumas expressões de maior ocorrência.” </i> </dd>
								  </dl>
				  
						  <h5> <li> Tema </li> </h5>
				  
						  <p> Depois de fazer a contextualização, você deve demonstrar como o contexto
							  está ligado ao tema. Tente não copiar o tema de forma literal. Em vez disso, tente
							  escrever com suas palavras. Mas não esqueça de que todos os elementos do tema
							  precisam estar presentes. Utilizando o tema da redação de 2017 “Desafios para a
							  formação educacional dos surdos no Brasil” como exemplo, você deve lembrar de
							  mencionar o “desafio”, a “educação”, os “surdos” e o “Brasil” na apresentação do
							  Tema. </p>        
				  
						  <h5> <li> Tese </li> </h5>
						  <p> Após ter citado o tema, você deve escrever a sua tese. A tese ou objetivo do
							  texto é aquilo que você pretende defender ao longo da redação. Essa é uma das
							  partes mais importantes de toda a sua redação. A fim de definir qual será a sua
							  tese, você pode se perguntar: “o que eu acho sobre o tema?”. Partindo da sua
							  resposta, você vai conseguir formular o objetivo do seu seu texto, ou seja, sua tese. </p>
  
							  <h5> Perguntas na Introdução </h5>
							  <p> Outras perguntas que podem auxiliar na criação da sua tese e, mais à frente,
								  podem fornecer ideias para os parágrafos de desenvolvimento e para a conclusão: </p>
								  <ul type="circle"> 
									  <li> Qual o problema? </li>
									  <li> Por que se trata de um problema? </li>
									  <li> Quais as causas para tal problema? </li>
									  <li> Há alguma solução? </li>
									  <li> Como e por que colocar tal solução em prática? </li>
									  <li> Como essa proposta pode, de fato, resolver o problema? </li>
								  </ul> <br>
							  <p> <b> Dica: </b> Uma boa maneira de treinar a introdução dentro do modelo da estrutura
								  da redação do Enem nos seus textos de treinamento é ler. Ler sempre, pelo menos
								  uma vez por semana, passar os olhos em artigos de jornais e revistas. </p>
				  </ol>
				  <h5> O que você NÃO deve fazer na Introdução </h5>
				  <p> O principal cuidado que você deve ter ao escrever a introdução do seu texto
					  é não misturar os assuntos. A pluralidade de ideias deixa o texto poluído e o leitor
					  confuso. E ainda: não mencione nenhum fato na introdução que não será explorado
					  ao longo do texto. Foque na sua tese principal. </p>
				  <p> É recomendável evitar períodos longos no primeiro parágrafo. O espaço para
					  produzir orações mais longas é o desenvolvimento. E mesmo assim, esse recurso
					  deve ser usado com bastante critério. </p>	
				  </ol>
				  
			  </ol>
  
				  <div class="mt-5 clearfix">
					  <ul class="float-left list-inline tag-option">
						  <li class="list-inline-item"><a href="#!">Advancher</a></li>
						  <li class="list-inline-item"><a href="#!">Landscape</a></li>
						  <li class="list-inline-item"><a href="#!">Travel</a></li>
					  </ul>
  
					  <ul class="float-right list-inline">
						  <li class="list-inline-item"> Share: </li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-facebook"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-twitter"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-pinterest"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-linkedin"></i></a></li>
					  </ul>
				  </div>
			  </div>
		  </div>
	  </div>
  
	  <div class="col-lg-12">
		  <div class="comment-area mt-4 mb-5">
			  <h4 class="mb-4">2 Comments on Healthy environment... </h4>
			  <ul class="comment-tree list-unstyled">
				  <li class="mb-5">
					  <div class="comment-area-box d-block d-sm-flex">
						  <div class="comment-thumb">
							  <img alt="" src="images/blog/testimonial1.jpg" style="width: 70px">
						  </div>
  
						  <div class="block">
							  <div class="comment-info">
								  <h5 class="mb-1">John</h5>
								  <span>United Kingdom</span>
								  <span class="date-comm">| Posted April 7, 2019</span>
							  </div>
							  <div class="comment-meta mt-2">
								  <a href="#!"><i class="icofont-reply mr-2 text-muted"></i>Reply</a>
							  </div>
  
							  <div class="comment-content mt-3">
								  <p>Some consultants are employed indirectly by the client via a consultancy staffing company, a company
									  that provides consultants on an agency basis. </p>
							  </div>
						  </div>
					  </div>
				  </li>
  
				  <li>
					  <div class="comment-area-box d-block d-sm-flex">
						  <div class="comment-thumb">
							  <img alt="" src="images/blog/testimonial2.jpg" style="width: 70px">
						  </div>
  
						  <div class="block">
							  <div class="comment-info">
								  <h5 class="mb-1">Philip W</h5>
								  <span>United Kingdom</span>
								  <span class="date-comm">| Posted June 7, 2019</span>
							  </div>
  
							  <div class="comment-meta mt-2">
								  <a href="#!"><i class="icofont-reply mr-2 text-muted"></i>Reply </a>
							  </div>
  
							  <div class="comment-content mt-3">
								  <p>Some consultants are employed indirectly by the client via a consultancy staffing company, a company
									  that provides consultants on an agency basis. </p>
							  </div>
						  </div>
					  </div>
				  </li>
			  </ul>
		  </div>
	  </div>
  
  
	  <div class="col-lg-12">
		  <form class="comment-form my-5" id="comment-form">
			  <h4 class="mb-4">Write a comment</h4>
			  <div class="row">
				  <div class="col-md-6">
					  <div class="form-group">
						  <input class="form-control" type="text" name="name" id="name" placeholder="Name:">
					  </div>
				  </div>
				  <div class="col-md-6">
					  <div class="form-group">
						  <input class="form-control" type="text" name="mail" id="mail" placeholder="Email:">
					  </div>
				  </div>
			  </div>
  
  
			  <textarea class="form-control mb-4" name="comment" id="comment" cols="30" rows="5"
				  placeholder="Comment"></textarea>
  
			  <input class="btn btn-main-2 btn-round-full" type="submit" name="submit-contact" id="submit_contact"
				  value="Submit Message">
		  </form>
	  </div>
  </div>
		</div>
		<div class="col-lg-4">
		  <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
	  <div class="sidebar-widget search  mb-3 ">
		  <h5>Search Here</h5>
		  <form action="#" class="search-form">
			  <input type="text" class="form-control" placeholder="search">
			  <i class="ti-search"></i>
		  </form>
	  </div>
  
  
	  <div class="sidebar-widget latest-post mb-3">
		  <h5>Popular Posts</h5>
  
		  <div class="py-2">
			  <span class="text-sm text-muted">03 Mar 2018</span>
			  <h6 class="my-2"><a href="#">Thoughtful living in los Angeles</a></h6>
		  </div>
  
		  <div class="py-2">
				 <span class="text-sm text-muted">03 Mar 2018</span>
			  <h6 class="my-2"><a href="#">Vivamus molestie gravida turpis.</a></h6>
		  </div>
  
		  <div class="py-2">
			  <span class="text-sm text-muted">03 Mar 2018</span>
			  <h6 class="my-2"><a href="#">Fusce lobortis lorem at ipsum semper sagittis</a></h6>
		  </div>
	  </div>
  
	  <div class="sidebar-widget category mb-3">
		  <h5 class="mb-4">Categories</h5>
  
		  <ul class="list-unstyled">
			<li class="align-items-center">
			  <a href="#">Medicine</a>
			  <span>(14)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Equipments</a>
			  <span>(2)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Heart</a>
			  <span>(10)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Free counselling</a>
			  <span>(5)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Lab test</a>
			  <span>(5)</span>
			</li>
		  </ul>
	  </div>
  
  
	  <div class="sidebar-widget tags mb-3">
		  <h5 class="mb-4">Tags</h5>
  
		  <a href="#">Doctors</a>
		  <a href="#">agency</a>
		  <a href="#">company</a>
		  <a href="#">medicine</a>
		  <a href="#">surgery</a>
		  <a href="#">Marketing</a>
		  <a href="#">Social Media</a>
		  <a href="#">Branding</a>
		  <a href="#">Laboratory</a>
	  </div>
  
  
	  <div class="sidebar-widget schedule-widget mb-3">
		  <h5 class="mb-4">Time Schedule</h5>
  
		  <ul class="list-unstyled">
			<li class="d-flex justify-content-between align-items-center">
			  <span>Monday - Friday</span>
			  <span>9:00 - 17:00</span>
			</li>
			<li class="d-flex justify-content-between align-items-center">
			  <span>Saturday</span>
			  <span>9:00 - 16:00</span>
			</li>
			<li class="d-flex justify-content-between align-items-center">
			  <span>Sunday</span>
			  <span>Closed</span>
			</li>
		  </ul>
  
		  <div class="sidebar-contatct-info mt-4">
			  <p class="mb-0">Need Urgent Help?</p>
			  <h3>+23-4565-65768</h3>
		  </div>
	  </div>
  
  </div>
		</div>
	  </div>
	</div>
  </section>


<!-- footer Start -->

{%endblock%}