{% extends '-index.html' %}
{%load bootstrap%}
{%load static%}
<body id="top">

{%block content%}

<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="block text-center">
			<span class="text-white">Redif</span>
			<h1 class="text-capitalize mb-5 text-lg" style="text-align: center;">Redações</h1>
			<div class="divider-mb"></div>
			<span class="text-white">Com duvidas para escrever redação? Cpnfira dicas fundamentais para não errar mais! </span>
  
			<!-- <ul class="list-inline breadcumb-nav">
			  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
			  <li class="list-inline-item"><span class="text-white">/</span></li>
			  <li class="list-inline-item"><a href="#" class="text-white-50">Our blog</a></li>
			</ul> -->
		  </div>
		</div>
	  </div>
	</div>
  </section>
  
  <section class="section blog-wrap">
	<div class="container">
	  <div class="row">
		<div class="col-lg-8">
		  <div class="row">

		<!-- Como funciona a redação -->
		<div class="col-lg-12 col-md-12 mb-5">
			<div class="blog-item">
				<div class="blog-thumb">
					<img src="{% static 'images/blog/blog-1.jpg' %}" alt="" class="img-fluid ">
				</div>

				<div class="blog-item-content">
					<div class="blog-item-meta mb-3 mt-4">
						<span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
					</div> 

					<h2 class="mt-3 mb-3"><a href="/redif/Pag-Dicas/ComoF">Como funciona a redação</a></h2>

					<p class="mb-4">Escrever uma boa redação pode ser um grande desafio para a maioria das pessoas,
						principalmente para quem não tem muita habilidade com as palavras.
						Redigir um texto pode parecer uma tarefa complicada, mas existem algumas
						técnicas de escrita que facilitam o dia a dia de quem precisa treinar para se dar bem
						na escola, no Enem e nos demais vestibulares. </p>
					<a href="/redif/Pag-Dicas/ComoF" target="_blank" class="btn btn-main btn-icon btn-round-full">Ler Mais<i class="icofont-simple-right ml-2  "></i></a>
				</div>
			</div>
		</div>

		<!-- Sua redação passo a passo -->
		<div class="col-lg-12 col-md-12 mb-5">
			<div class="blog-item">
				<div class="blog-thumb">
					<img src="{% static 'images/blog/blog-1.jpg' %}" alt="" class="img-fluid ">
				</div>

				<div class="blog-item-content">
					<div class="blog-item-meta mb-3 mt-4">
						<span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
					</div> 

					<h2 class="mt-3 mb-3"><a href="redif/Pag-Dicas/Passo-a-passo">Sua redação passo a passo</a></h2>

					<p class="mb-4">Um dos maiores erros cometidos ao escrever uma dissertação é o candidato
						fugir do tema, por não conhecer a fundo o assunto cobrado ou por se achar
						despreparado. Isso acaba reduzindo as suas chances de aprovação, uma vez que
						esse equívoco acaba custando 50% da nota.</p>
					<a href="redif/Pag-Dicas/Passo-a-passo" target="_blank" class="btn btn-main btn-icon btn-round-full">Ler Mais<i class="icofont-simple-right ml-2  "></i></a>
				</div>
			</div>
		</div>

		<!-- Introdução -->
		<div class="col-lg-12 col-md-12 mb-5">
			<div class="blog-item">
				<div class="blog-thumb">
					<img src="{% static 'images/blog/blog-1.jpg' %}" alt="" class="img-fluid ">
				</div>

				<div class="blog-item-content">
					<div class="blog-item-meta mb-3 mt-4">
						<span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
					</div> 

					<h2 class="mt-3 mb-3"><a href="/redif/Pag-Dicas/Introducao">Introdução</a></h2>

					<p class="mb-4">Não é sem razão que o primeiro parágrafo da estrutura de uma redação é
					chamado de introdução, pois é nessa parte do texto que você vai expor (apresentar)
					as principais questões a serem abordadas no restante do texto. No primeiro
					parágrafo, o leitor terá uma dimensão geral do assunto e vai entender as razões
					pelas quais a discussão do problema é relevante. </p>
					<a href="/redif/Pag-Dicas/Introducao" target="_blank" class="btn btn-main btn-icon btn-round-full">Ler Mais<i class="icofont-simple-right ml-2  "></i></a>
				</div>
			</div>
		</div>

		<!-- Desenvolvimento -->
		<div class="col-lg-12 col-md-12 mb-5">
			<div class="blog-item">
				<div class="blog-thumb">
					<img src="{% static 'images/blog/blog-1.jpg' %}" alt="" class="img-fluid ">
				</div>

				<div class="blog-item-content">
					<div class="blog-item-meta mb-3 mt-4">
						<span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
					</div> 

					<h2 class="mt-3 mb-3"><a href="/redif/Pag-Dicas/desenvolvimento">Desenvolvimento</a></h2>

					<p class="mb-4">Os dois ou três parágrafos depois da introdução compõem o
						desenvolvimento. É a partir do segundo parágrafo que você vai defender a tese
						apresentada na introdução. Antes de começar a escrever o desenvolvimento de
						uma redação, é importante ter estabelecido a tese ou objetivo do texto na
						introdução. </p>
					<a href="/redif/Pag-Dicas/desenvolvimento" target="_blank" class="btn btn-main btn-icon btn-round-full">Ler Mais<i class="icofont-simple-right ml-2  "></i></a>
				</div>
			</div>
		</div>

		<!-- Conclusão -->
		<div class="col-lg-12 col-md-12 mb-5">
			<div class="blog-item">
				<div class="blog-thumb">
					<img src="{% static 'images/blog/blog-1.jpg' %}" alt="" class="img-fluid ">
				</div>

				<div class="blog-item-content">
					<div class="blog-item-meta mb-3 mt-4">
						<span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
					</div> 

					<h2 class="mt-3 mb-3"><a href="/redif/Pag-Dicas/conclusao">Conclusão</a></h2>

					<p class="mb-4">A ideia de concluir tem a ver com relembrar o seu leitor a
						respeito do que você tratou no decorrer do texto. Sendo assim, você deve retomar o
						que escreveu nos parágrafos de desenvolvimento de uma maneira bastante
						resumida. Não é o momento de expor ideias novas. </p>
					<a href="/redif/Pag-Dicas/conclusao" target="_blank" class="btn btn-main btn-icon btn-round-full">Ler Mais<i class="icofont-simple-right ml-2  "></i></a>
				</div>
			</div>
		</div>
  
  </div>
		</div>
		<div class="col-lg-4">
		  <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
	  
  
  
	  <div class="sidebar-widget latest-post mb-3">
		  <h5>Quer se inspirar?</h5>
  
		{%if Redacoes%}
			{%for r in Redacoes%}
				<div class="py-2">
					<span class="text-sm text-muted"> {{r.data_criacao}}</span>
					<h6 class="my-2"><a href="/redif/detalhar/{{ r.id }}">{{r.titulo|slice:":25"}}</a></h6>
				</div>
		  {%endfor%}
		{%endif%}
  
	  </div>
  
	  <div class="sidebar-widget category mb-3">
		  <h5 class="mb-4">Categories</h5>
  
		  <ul class="list-unstyled">
			<li class="align-items-center">
			  <a href="#">Medicine</a>
			  <span>(14)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Equipments</a>
			  <span>(2)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Heart</a>
			  <span>(10)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Free counselling</a>
			  <span>(5)</span>
			</li>
			<li class="align-items-center">
			  <a href="#">Lab test</a>
			  <span>(5)</span>
			</li>
		  </ul>
	  </div>
  
  
	  <div class="sidebar-widget tags mb-3">
		  <h5 class="mb-4">Tags</h5>
  
		  <a href="#">Doctors</a>
		  <a href="#">agency</a>
		  <a href="#">company</a>
		  <a href="#">medicine</a>
		  <a href="#">surgery</a>
		  <a href="#">Marketing</a>
		  <a href="#">Social Media</a>
		  <a href="#">Branding</a>
		  <a href="#">Laboratory</a>
	  </div>
  
  
	  <div class="sidebar-widget schedule-widget mb-3">
		  <h5 class="mb-4">Time Schedule</h5>
  
		  <ul class="list-unstyled">
			<li class="d-flex justify-content-between align-items-center">
			  <span>Monday - Friday</span>
			  <span>9:00 - 17:00</span>
			</li>
			<li class="d-flex justify-content-between align-items-center">
			  <span>Saturday</span>
			  <span>9:00 - 16:00</span>
			</li>
			<li class="d-flex justify-content-between align-items-center">
			  <span>Sunday</span>
			  <span>Closed</span>
			</li>
		  </ul>
  
		  <div class="sidebar-contatct-info mt-4">
			  <p class="mb-0">Need Urgent Help?</p>
			  <h3>+23-4565-65768</h3>
		  </div>
	  </div>
  
  </div>
		</div>
	  </div>
	</div>
  </section>


<!-- footer Start -->

{%endblock%}