{% extends '-index.html' %}
{%load bootstrap%}
{%load static%}
<body id="top">

{%block content%}

<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="block text-center">
			  <span class="text-white">Plataforma REDIF</span>
			  <h1 class="text-capitalize mb-5 text-lg">Sua redação passo a passo</h1>
  
			<!-- <ul class="list-inline breadcumb-nav">
			  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
			  <li class="list-inline-item"><span class="text-white">/</span></li>
			  <li class="list-inline-item"><a href="#" class="text-white-50">News details</a></li>
			</ul> -->
		  </div>
		</div>
	  </div>
	</div>
  </section>
  
  <section class="section blog-wrap">
	<div class="container">
	  <div class="row">
		<div class="col-lg-8">
		  <div class="row">
	  <div class="col-lg-12 mb-5">
		  <div class="single-blog-item">
			  <img src="images/blog/enem.jpg" alt="" class="img-fluid">
  
			  <div class="blog-item-content mt-5">
				  <div class="blog-item-meta mb-3">
					  <span class="text-color-2 text-capitalize mr-3"><i class="icofont-book-mark mr-2"></i> Equipment</span>
					  <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
					  <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-2"></i> 28th January 2019</span>
				  </div>
  
					  <p> Para que você possa ter um desempenho melhor na sua redação,
						  separamos alguns passos que devem ser seguidos ao escrever o seu texto: </p>
				  
				  <ol>
					  <h3> <li> Leia o texto proposto com atenção </li> </h3>
				  
					  <p> Um dos maiores erros cometidos ao escrever uma dissertação é o candidato
						  fugir do tema, por não conhecer a fundo o assunto cobrado ou por se achar
						  despreparado. Isso acaba reduzindo as suas chances de aprovação, uma vez que
						  esse equívoco acaba custando 50% da nota. </p>
					  <p> Para passar bem longe disso, leia o tema proposto com atenção — e não se
						  esqueça dos materiais de apoio que a prova disponibiliza. Por mais que você não
						  possa copiar informações, dá para construir seus argumentos a partir de algum
						  dado ou informação contidos neles. </p>
				  
					  <h3> <li> Reflita e anote todas as ideias que tiver sobre o tema </li> </h3>
				  
					  <p> Uma produção textual perfeita se origina de um bom planejamento. Isso
						  significa que, para escrever uma boa redação, você precisa formar uma espécie de
						  esqueleto do texto. Para isso, escolha uma abordagem para o tema, elenque os
						  argumentos que utilizará para defender a sua tese e anote as ideias que tiver sobre
						  o assunto. </p>
					  <p> Sendo assim, não se esqueça de: </p>
					  <ul>
						  <li> Identificar o tema; </li>
						  <li> Definir a tese a ser defendida; </li>
						  <li> Traçar as bases de defesa, ou seja, a argumentação que sustentará a tese; </li>
						  <li> Elaborar uma boa proposta de intervenção. </li>
					  </ul> <br>
					  <p> Além de ajudar na construção do esqueleto, essa prática ainda contribui para
						  que você não faça rasuras na folha de resposta. Esses erros, em geral, acontecem
						  quando o candidato está distraído demais ou não sabe quais palavras usará em
						  seguida. </p>
				  
					  <h3> <li> Escrevendo o Texto </li> </h3>
				  
					  <p> Agora é hora de pôr as mãos na massa. Foque a sua atenção na
						  organização das ideias presentes no texto, pois elas precisam estar interligadas e
						  fazer sentido. Para tanto, use a estrutura da dissertação argumentativa para organizar o
						  seu texto em três blocos. Veja quais são eles, a seguir. </p>
		  
			  <h3> <li> Revise a redação </li> </h3>
  
			  <p> Agora, com a redação já escrita, é preciso revisar alguns conceitos, para que
				  sua redação se adeque as competências do ENEM: </p>
  
				  <ul type="square">
					  <h4> <li> Pontuação e Gramática </h4> </li>
					  <p> Releia o texto com atenção e verifique se há algum erro de português. Utilize
						  também os sinais de pontuação corretamente: vírgula, dois pontos, ponto e vírgula,
						  travessão. Também é preciso ter cautela com o tamanho das suas frases, sem
						  períodos muito longos. </p>
					  <h4> <li> Evite frases prontas e clichês </h4> </li>
					  <p> Existem muitas frases prontas e clichês que ficam na ponta da língua dos
						  candidatos no momento da redação. “Nos primórdios da humanidade” e “com o
						  advento da internet” são algumas delas — assim como os clichês “erro gritante”,
						  “vivendo e aprendendo” e “vestir a camisa”. Fuja dessas armadilhas para assegurar
						  maior credibilidade ao seu texto. </p>
					  <h4> <li> Elimine as palavras desnecessárias </h4> </li>
					  <p> Existem palavras que tornam o seu texto cansativo e que acabam
						  atrapalhando o entendimento das ideias expostas. Para reduzir esse problema, é
						  essencial revisar a redação e eliminar termos que não agregam valor ao conteúdo.
						  Adjetivos, por exemplo, podem ser dispensados sem cerimônias, pois acrescentam
						  pouco à mensagem que você deseja passar. </p>
					  <p> É importante destacar que substituições também são bem-vindas. A
						  expressão “hoje em dia”, por exemplo, pode facilmente ser substituída por
						  “atualmente”, deixando o texto mais objetivo e facilitando a leitura.</p>
					  <h4> <li> Seja coeso </h4> </li>
					  <p> Use mecanismos linguísticos do texto que são responsáveis por estabelecer
						  uma conexão de ideias. A coesão cria relações entre as partes do texto de modo a
						  guiar o leitor relativamente a uma sequência de fatos. Uma mensagem coesa
						  apresenta ligações harmoniosas entre as partes do texto.
						  Para que ocorra essa harmonia, deve-se utilizar os conectivos. Eles devem
						  aparecer em duas partes: no meio dos parágrafos, ligando as frases e orações, e
						  entre os parágrafos, ou seja, logo no início e amarrando-o ao anterior. </p>
					  <p> <b> Dica: </b> saiba diversificar na escolha dos conectivos, visto que o exame também
						  avalia o repertório do candidato. Se o aluno não variar, ele pode gerar um erro
						  chamado ‘eco’, que é a repetição constante de termos ou palavras com terminações
						  parecidas, a exemplo de ‘absurdamente’ e ‘devidamente’. Isso gera perda de
						  pontos. </p>
					  <h4> <li> Tenha coerência </h4> </li>
					  <p> A coerência textual está diretamente relacionada com a significância e com a
						  interpretação de um texto. A mensagem de um texto é coerente quando ela faz
						  sentido e é comunicada de forma harmoniosa, de forma que haja uma relação lógica
						  entre as ideias apresentadas, nas quais umas complementam as outras. Para
						  garantir a coerência de um texto, é preciso ter consistência no argumento, sem
						  contradições. </p>
					  <h4> <li> Dê um basta nas repetições de palavras </h4> </li>
					  <p> Com bastante leitura e treino, você consegue perceber com mais facilidade
						  quais termos foram usados em excesso no seu texto. Sendo assim, na hora de
						  redigir sua redação, não se esqueça de evitar a repetição de palavras — prefira usar
						  sinônimos e procure por outras formas de se expressar. </p>
				  </ul>
  
				  <h3> <li> Passe o texto final a limpo </li> </h3>
  
				  <p> Agora, com o seu texto corrigido, a última etapa da redação é passá-la a
				  limpo. Tenha em mente que esse é o texto que vai ser corrigido pela banca do
				  vestibular. Portanto, evite rasuras e respeite o limite de linhas mínimas e máximas. </p>
  
				  <p> De agora em diante, com tudo isso em mente, você conseguirá um ótimo desempenho nas suas próximas
				  nas suas próximas redações se aplicar as dicas que aprendeu aqui :) </p>
				  
			  </ol>
  
				  <div class="mt-5 clearfix">
					  <ul class="float-left list-inline tag-option">
						  <li class="list-inline-item"><a href="#!">Advancher</a></li>
						  <li class="list-inline-item"><a href="#!">Landscape</a></li>
						  <li class="list-inline-item"><a href="#!">Travel</a></li>
					  </ul>
  
					  <ul class="float-right list-inline">
						  <li class="list-inline-item"> Share: </li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-facebook"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-twitter"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-pinterest"></i></a></li>
						  <li class="list-inline-item"><a href="#!"><i class="icofont-linkedin"></i></a></li>
					  </ul>
				  </div>
			  </div>
		  </div>
	  </div>
  
	
{%endblock%}